.row {
    padding-left: 4vw;
    position: relative;
    z-index: 9;
}

.rowPoster {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: .5vw;

}


.poster {
    max-width: 12vw;
    margin: 0 2px;
}