.wrapper {
    top: -19px;
    display: flex;
    align-items: center;
    padding: 7.8px 3.8px;
    color: #000;
    background-color: #fff !important;
}

.addMessage {
    border-radius: 4px;
    width: 241px;
    min-height: 75px;
}

.content {
    color: #000;
    background-color: #fff;
    font-size: 1.6rem;
}